{% extends "base.html" %}

{% block scripts %}
<style>
.nobr {white-space: nowrap}
</style>
{% endblock scripts %}


{% block content %}
<form method="POST">
{{ form.hidden_tag() }}
{# This hidden_tag is a CSRF security feature. #} 

<div class="row d-flex justify-content-center">
<div style="width: 25%" class="form-group">

{{ form.sid.label }} 
{{ form.sid(class_="form-control form-control-sm") }}

{{ form.password.label }} 
{{ form.password(class_="form-control form-control-sm") }}

<br>
<div class="d-grid gap-2 col-6 mx-auto">
    {{ form.submit(class="btn btn-primary btn-sm") }}
</div>

</div>
</div>
</form>



{% endblock %}
